@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Vina+Sans&display=swap");

body {
  font-family: "Roboto", monospace;
}

h1,
h2 {
  text-align: center;
}
h1 {
  font-family: "Vina Sans", sans-serif;
  font-weight: 500;
  font-size: 6em;
}
h2{
  padding: 3em;
}
.is-aqua {
  height: 70vh;
  background-color: aqua;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  &__base,
  &__converted {
    min-width: 40vw;
    min-height: 40vh;
    margin: 2em;
  }
}
